<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse RCP Luna" sequenceNumber="23">
<locations>
<location path="C:\Develop\Eclipse\EclipseLuna4.4\eclipse" type="Profile"/>
<location path="C:\Develop\Eclipse\EclipseLuna4.4\eclipse\dropins\delta\eclipse" type="Directory"/>
</locations>
</target>
