<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Magic Preferences"
            class="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
            id="com.reflexit.magiccards.ui.preferences.MagicPreferencePage">
      </page>
      	<page id="com.reflexit.magiccards.ui.preferences.MagicGathererPreferencePage"
  	      	name="Gatherer Settings"
	      	class="com.reflexit.magiccards.ui.preferences.MagicGathererPreferencePage"
		category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage">
   	</page>
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.preferences.MagicDbViewPreferencePage"
             id="com.reflexit.magiccards.ui.preferences.MagicDbViewPreferencePage"
             name="Magic Database View">
       </page>
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.preferences.LibViewPreferencePage"
             id="com.reflexit.magiccards.ui.preferences.LibViewPreferencePage"
             name="Library View">
       </page>
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.preferences.DeckViewPreferencePage"
             id="com.reflexit.magiccards.ui.preferences.DeckViewPreferencePage"
             name="Deck View">
       </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.reflexit.magiccards.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Magic"
            id="com.reflexit.magiccards">
      </category>
      <view
            name="Magic Database"
            icon="icons/m.gif"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.MagicDbView"
            id="com.reflexit.magiccards.ui.views.MagicDbView">
      </view>
      <view
            allowMultiple="false"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.card.CardDescView"
            icon="icons/back_32.jpg"
            id="com.reflexit.magiccards.ui.views.card.CardDescView"
            name="Card Description">
      </view>
      <view
            allowMultiple="true"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.lib.LibView"
            icon="icons/Folder-Library-32x32.png"
            id="com.reflexit.magiccards.ui.views.lib.LibView"
            name="Magic Library"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.nav.CardsNavigatorView"
            icon="icons/sailing-ship-32x32.png"
            id="com.reflexit.magiccards.ui.views.nav.CardsNavigatorView"
            name="Card Navigator">
      </view>
      <view
            allowMultiple="true"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.lib.DeckView"
            icon="icons/Book-1-icon.gif"
            id="com.reflexit.magiccards.ui.views.lib.DeckView"
            name="Deck"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.reflexit.magiccards.ui.PerspectiveFactoryMagic"
            fixed="false"
            icon="icons/m.gif"
            id="com.reflexit.magiccards.ui.perspective.magic"
            name="Magic Cards">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.reflexit.magiccards.ui.commands.AddToLibraryHandler"
            commandId="com.reflexit.magiccards.ui.commands.addToLib">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.reflexit.magiccards.ui.commands.addToLib"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="INSERT">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.reflexit.magiccards.ui.commands.category"
            name="Magic Assistant">
      </category>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.addToLib"
            name="Add To Library">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.reflexit.magiccards.ui.context"
            name="Magic Assistant windows"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:com.reflexit.magiccards.ui.views.lib.LibView">
        <command
              commandId="org.eclipse.ui.edit.delete"
              mode="FORCE_TEXT"
              style="push">

        </command>

     </menuContribution>
          <menuContribution
           locationURI="popup:com.reflexit.magiccards.ui.views.lib.DeckView">
        <command
              commandId="org.eclipse.ui.edit.delete"
              mode="FORCE_TEXT"
              style="push">

        </command>

     </menuContribution>
  </extension>
</plugin>
