<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="deckPage" name="Deck Page" schema="schema/deckPage.exsd"/>

   <extension
            point="org.eclipse.ui.editors">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Magic Preferences"
            class="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
            id="com.reflexit.magiccards.ui.preferences.MagicPreferencePage">
      </page>
      	<page id="com.reflexit.magiccards.ui.preferences.MagicGathererPreferencePage"
  	      	name="Update Magic Database"
	      	class="com.reflexit.magiccards.ui.preferences.MagicGathererPreferencePage"
		category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage">
   	</page>
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.preferences.MagicDbViewPreferencePage"
             id="com.reflexit.magiccards.ui.preferences.MagicDbViewPreferencePage"
             name="View: MTG Database">
       </page>
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.preferences.LibViewPreferencePage"
             id="com.reflexit.magiccards.ui.preferences.LibViewPreferencePage"
             name="View: My Cards">
       </page>
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.preferences.DeckViewPreferencePage"
             id="com.reflexit.magiccards.ui.preferences.DeckViewPreferencePage"
             name="View: Deck/Cards">
       </page>
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.preferences.CollectorViewPreferencePage"
             id="com.reflexit.magiccards.ui.preferences.CollectorViewPreferencePage"
             name="View: Collector">
       </page>
       
       <page
            name="Card Export"
            class="com.reflexit.magiccards.ui.preferences.ExportersPreferencePage"
            id="com.reflexit.magiccards.ui.preferences.ExportersPreferencePage"
            category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
            >
      </page>
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.preferences.EditionsPreferencePage"
             id="com.reflexit.magiccards.ui.preferences.EditionsPreferencePage"
             name="Card Sets">
       </page>
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.preferences.FileLocationsPreferencePage"
             id="com.reflexit.magiccards.ui.preferences.FileLocationsPreferencePage"
             name="File Locations">
       </page>
      
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.reflexit.magiccards.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Magic Assistant"
            id="com.reflexit.magiccards">
      </category>
      <view
            allowMultiple="false"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.MagicDbView"
            icon="icons/m24.gif"
            id="com.reflexit.magiccards.ui.views.MagicDbView"
            name="MTG Database"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.card.CardDescView"
            icon="icons/one_card24.png"
            id="com.reflexit.magiccards.ui.views.card.CardDescView"
            name="Card Info">
      </view>
      <view
            allowMultiple="true"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.lib.MyCardsView"
            icon="icons/card_coll24.png"
            id="com.reflexit.magiccards.ui.views.lib.MyCardsView"
            name="My Cards"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.nav.CardsNavigatorView"
            icon="icons/card_nav24.png"
            id="com.reflexit.magiccards.ui.views.nav.CardsNavigatorView"
            name="Card Navigator">
      </view>
      <view
            allowMultiple="true"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.lib.DeckView"
            icon="icons/hand32.png"
            id="com.reflexit.magiccards.ui.views.lib.DeckView"
            name="Deck"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.printings.PrintingsView"
            icon="icons/m24.gif"
            id="com.reflexit.magiccards.ui.views.printings.PrintingsView"
            name="Printings"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.collector.CollectorView"
            icon="icons/collector24.png"
            id="com.reflexit.magiccards.ui.views.collector.CollectorView"
            name="Collector"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.instances.InstancesView"
            icon="icons/hand32.png"
            id="com.reflexit.magiccards.ui.views.instances.InstancesView"
            name="Instances"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.reflexit.magiccards.ui.PerspectiveFactoryMagic"
            fixed="false"
            icon="icons/m.gif"
            id="com.reflexit.magiccards.ui.perspective.magic"
            name="Magic Cards">
      </perspective>
   </extension>
    <extension
      point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.reflexit.magiccards.ui.perspective.magic">
      <showInPart id = "com.reflexit.magiccards.ui.views.card.CardDescView"/>
           <showInPart id = "com.reflexit.magiccards.ui.views.lib.MyCardsView"/>

           <showInPart
                 id="com.reflexit.magiccards.ui.views.MagicDbView">
           </showInPart>
           <showInPart
                 id="com.reflexit.magiccards.ui.views.collector.CollectorView">
           </showInPart>
           <showInPart
                 id="com.reflexit.magiccards.ui.views.instances.InstancesView">
           </showInPart>
                      <showInPart
                 id="com.reflexit.magiccards.ui.views.printings.PrintingsView">
           </showInPart>
                      <showInPart
                            id="com.reflexit.magiccards.ui.views.nav.CardsNavigatorView">
                      </showInPart>

      
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.reflexit.magiccards.ui.commands.AddToLibraryHandler"
            commandId="com.reflexit.magiccards.ui.commands.addToLib">
      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.AddToActiveDeckHandler"
            commandId="com.reflexit.magiccards.ui.commands.addToDeck">
      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.DecreaseCardCountHandler"
            commandId="com.reflexit.magiccards.ui.commands.decreaseCount">
      </handler>
            <handler
            class="com.reflexit.magiccards.ui.commands.IncreaseCardCountHandler"
            commandId="com.reflexit.magiccards.ui.commands.increaseCount">
      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.SendBugReportHandler"
            commandId="com.reflexit.magiccards.ui.commands.sendBug">

      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.UpdateDbHandler"
            commandId="com.reflexit.magiccards.ui.commands.updateMagicDb">
      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.EditDeckPropertiesHandler"
            commandId="com.reflexit.magiccards.ui.commands.EditDeckProperties">
      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.RenameHandler"
            commandId="org.eclipse.ui.edit.rename">
      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.UpdateDbDialogHandler"
            commandId="com.reflexit.magiccards.ui.commands.updateMagicDbDialog">
      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.CheckForUpdateDbHandler"
            commandId="com.reflexit.magiccards.ui.commands.checkForUpdateMagicDb">
      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.ShowFilterHandler"
            commandId="com.reflexit.magiccards.ui.commands.filterCommand">
      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.MoveToActiveDeckHandler"
            commandId="com.reflexit.magiccards.ui.commands.moveToDeck">
      </handler>
            <handler
            class="com.reflexit.magiccards.ui.commands.SplitHandler"
            commandId="com.reflexit.magiccards.ui.commands.split">
      </handler>
            <handler
                  class="com.reflexit.magiccards.ui.commands.TakeScreenShotCommandHandler"
                  commandId="com.reflexit.magiccards.ui.commands.takeScreenshotCommand">
            </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.reflexit.magiccards.ui.commands.addToLib"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="INSERT">
      </key>
      <key
            commandId="com.reflexit.magiccards.ui.commands.addToLib"
            contextId="com.reflexit.magiccards.ui.context.search"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+INSERT">
      </key>
      <key
      	    commandId="com.reflexit.magiccards.ui.commands.moveToDeck"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="/ M">
            <parameter id="com.reflexit.magiccards.ui.count" value="0" />
      </key>
      <key
      	    commandId="com.reflexit.magiccards.ui.commands.moveToDeck"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="? M">
            <parameter id="com.reflexit.magiccards.ui.count" value="0" />
      </key>
      <key
      	    commandId="com.reflexit.magiccards.ui.commands.moveToDeck"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="1 M">
            <parameter id="com.reflexit.magiccards.ui.count" value="1" />
      </key>
            <key
      	    commandId="com.reflexit.magiccards.ui.commands.moveToDeck"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="2 M">
            <parameter id="com.reflexit.magiccards.ui.count" value="2" />
      </key>
            <key
      	    commandId="com.reflexit.magiccards.ui.commands.moveToDeck"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="3 M">
            <parameter id="com.reflexit.magiccards.ui.count" value="3" />
      </key>
            <key
      	    commandId="com.reflexit.magiccards.ui.commands.moveToDeck"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="4 M">
            <parameter id="com.reflexit.magiccards.ui.count" value="4" />
      </key>
      <key
      	    commandId="com.reflexit.magiccards.ui.commands.moveToDeck"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M">
            <parameter id="com.reflexit.magiccards.ui.count" value="*" />
      </key>
      <key
            commandId="com.reflexit.magiccards.ui.commands.addToDeck"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+D">
      </key>
      <key
            commandId="com.reflexit.magiccards.ui.commands.decreaseCount"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="-">
      </key>
      <key
            commandId="com.reflexit.magiccards.ui.commands.decreaseCount"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_SUBTRACT">
      </key>
      <key
            commandId="com.reflexit.magiccards.ui.commands.increaseCount"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="=">
      </key>
      <key
            commandId="com.reflexit.magiccards.ui.commands.increaseCount"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_ADD">
      </key>
      <key
            commandId="com.reflexit.magiccards.ui.commands.increaseCount"
            contextId="com.reflexit.magiccards.ui.context.search"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+=">
      </key>
      <key
            commandId="com.reflexit.magiccards.ui.commands.filterCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.reflexit.magiccards.ui.commands.takeScreenshotCommand"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+0">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.reflexit.magiccards.ui.commands.category"
            name="Magic Assistant">
      </category>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.addToLib"
            name="Add to Default Collection">
      </command>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.addToDeck"
            name="Copy to Active Collection">
      </command>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.decreaseCount"
            name="Decrease">
      </command>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.increaseCount"
            name="Increase">
      </command>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.sendBug"
            name="Send Bug or Feature Request">
      </command>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.updateMagicDb"
            name="Update Magic Cards Database to Standard">
      </command>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.updateMagicDbDialog"
            name="Update Magic Cards Database...">
      </command>
      
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.checkForUpdateMagicDb"
            name="Check for Card Updates...">
      </command>
      
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.EditDeckProperties"
            name="Edit Properties...">
      </command>

      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.filterCommand"
            name="Show Filter">
         <commandParameter
               id="com.reflexit.magiccards.ui.viewId"
               name="viewId"
               optional="true"
               typeId="string"
               values="com.reflexit.magiccards.ui.commands.MagicViewParameterValues">
         </commandParameter>
      </command>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.moveToDeck"
            name="Move to Active Collection">
         <commandParameter
               id="com.reflexit.magiccards.ui.count"
               name="Count"
               optional="true"
               typeId="org.eclipse.ui.dialogs.Integer">
            <values
                  class="org.eclipse.ui.commands.ExtensionParameterValues">
               <parameter
                     name="1"
                     value="1">
               </parameter>
               <parameter
                     name="2"
                     value="2">
               </parameter>
               <parameter
                     name="3"
                     value="3">
               </parameter>
               <parameter
                     name="4"
                     value="4">
               </parameter>
            </values>
         </commandParameter>
      </command>
            <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.split"
            name="Split">
         <commandParameter
               id="com.reflexit.magiccards.ui.count"
               name="Count"
               optional="true"
               typeId="org.eclipse.ui.dialogs.Integer">
            <values
                  class="org.eclipse.ui.commands.ExtensionParameterValues">
               <parameter
                     name="1"
                     value="1">
               </parameter>
               <parameter
                     name="2"
                     value="2">
               </parameter>
               <parameter
                     name="3"
                     value="3">
               </parameter>
               <parameter
                     name="4"
                     value="4">
               </parameter>
            </values>
         </commandParameter>
      </command>
      
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            defaultHandler="com.reflexit.magiccards.ui.commands.BackupHandler"
            id="com.reflexit.magicassistant.command.backup"
            name="Backup">
      </command>

      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.takeScreenshotCommand"
            name="Take Screenshot">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.reflexit.magiccards.ui.context"
            name="Magic Assistant windows"
            parentId="org.eclipse.ui.contexts.window">
      </context>
      <context
            id="com.reflexit.magiccards.ui.context.search"
            name="Magic Assistant Search Fields"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   
    <extension
       point="org.eclipse.core.expressions.definitions">
    <definition id="com.reflexit.magiccards.ui.editable">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        operator="and">
                     <adapt
                           type="com.reflexit.magiccards.core.model.MagicCardPhysical">
                     </adapt>
                  </iterate>
               </with>
    </definition>
 </extension>
 
  <extension
        point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:file?after=additions">
            <command
                  commandId="com.reflexit.magiccards.ui.commands.checkForUpdateMagicDb"
                  mnemonic="M"
                  id="com.reflexit.magiccards.ui.menus.checkForUpdateMagicDb">
            </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:file?after=additions">
            <command
                  commandId="com.reflexit.magiccards.ui.commands.updateMagicDbDialog"
                  mnemonic="U"
                  id="com.reflexit.magiccards.ui.menus.updateMagicDbDialog">
            </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:help?after=additions">
            <command
                  commandId="com.reflexit.magiccards.ui.commands.sendBug"
                  mnemonic="S"
                  id="com.reflexit.magiccards.ui.menus.sendBug">
            </command>
      </menuContribution>
     
     <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.reflexit.magiccards.ui.commands.increaseCount"
               label="Increase Count"
               mnemonic="I"
               >
            <visibleWhen>
  				<reference definitionId="com.reflexit.magiccards.ui.editable"/>
            </visibleWhen>
         </command>
         <command
               commandId="com.reflexit.magiccards.ui.commands.decreaseCount"
               label="Descrease Count"
               mnemonic="C"
               >
            <visibleWhen>
  				<reference definitionId="com.reflexit.magiccards.ui.editable"/>
            </visibleWhen>
         </command>
         <command commandId="org.eclipse.ui.edit.delete">
            <visibleWhen>
  				<reference definitionId="com.reflexit.magiccards.ui.editable"/>
            </visibleWhen>
         </command>
      </menuContribution>
         
     <menuContribution
            locationURI="menu:com.reflexit.magiccards.ui.views.MagicDbView">
            <command
                  commandId="com.reflexit.magiccards.ui.commands.updateMagicDbDialog"
                  mnemonic="U"
                  id="com.reflexit.magiccards.ui.menus.updateMagicDbDialog">
            </command>
      </menuContribution>
     <menuContribution
           locationURI="popup:com.reflexit.magiccards.ui.views.MagicDbView">
        <command  commandId="com.reflexit.magiccards.ui.commands.addToLib" /> 
        <command  commandId="com.reflexit.magiccards.ui.commands.increaseCount" label="Add to Active Collection"/>
       
     </menuContribution>
     <menuContribution
           locationURI="popup:com.reflexit.magiccards.ui.views.lib.MyCardsView">
        <command  commandId="com.reflexit.magiccards.ui.commands.addToDeck" label="Copy to Active Collection"/>    
     </menuContribution>
     
     <menuContribution
           locationURI="popup:com.reflexit.magiccards.ui.views.nav.CardsNavigatorView">
                   <command
              commandId="org.eclipse.ui.edit.cut"
              mode="FORCE_TEXT"
              style="push">
        </command>
                <command
              commandId="org.eclipse.ui.edit.paste"
              mode="FORCE_TEXT"
              style="push">
        </command>
        <command
              commandId="org.eclipse.ui.edit.delete"
              mode="FORCE_TEXT"
              style="push">
        </command>
        <command
              commandId="org.eclipse.ui.edit.rename"
              mode="FORCE_TEXT"
              style="push">
        </command>
        <command
              commandId="com.reflexit.magiccards.ui.commands.EditDeckProperties"
              style="push">
        </command>
     </menuContribution>
     <!--
     <menuContribution
           locationURI="menu:window?after=additions">

           <command
                 commandId="com.reflexit.magiccards.ui.commands.filterCommand"
                 id="com.reflexit.magiccards.ui.menus.filterCommand"
                 mnemonic="S">
           </command>
       
     </menuContribution>
     -->
       <menuContribution
            locationURI="menu:file?after=additions">
            <command
                  commandId="com.reflexit.magicassistant.command.backup"
            	  mnemonic="B"
                  id="com.reflexit.magicassistant.menu.backup">
            </command>
                        
      </menuContribution>
       <menuContribution
             locationURI="menu:help?after=additions">
             <command
                   commandId="com.reflexit.magiccards.ui.commands.takeScreenshotCommand"
                   id="com.reflexit.magiccards.ui.menus.takeScreenshotCommand"
                   mnemonic="S">
             </command>
       </menuContribution>
  </extension>
  
     <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.reflexit.magicassistant.command.update"
            name="Check for Software Updates...">
      </command>

   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.reflexit.magicassistant.command.update"
            class="com.reflexit.magiccards.ui.commands.UpdateHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?after=additions">
            <command
                  commandId="com.reflexit.magicassistant.command.update"
            	  mnemonic="U"
                  id="com.reflexit.magicassistant.menu.update">
            </command>
      </menuContribution>
   </extension>
  
  
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="com.reflexit.magiccards.ui"
           name="Magic">
     </category>
     <wizard
           category="com.reflexit.magiccards.ui"
           class="com.reflexit.magiccards.ui.wizards.NewDeckWizard"
           finalPerspective="com.reflexit.magiccards.ui.perspective.magic"
           hasPages="true"
           icon="icons/obj16/ideck16.png"
           id="com.reflexit.magiccards.ui.wizards.NewDeckWizard"
           name="Deck">
     </wizard>
          <wizard
           category="com.reflexit.magiccards.ui"
           class="com.reflexit.magiccards.ui.wizards.NewCardCollectionWizard"
           finalPerspective="com.reflexit.magiccards.ui.perspective.magic"
           icon="icons/obj16/lib16.png"
           id="com.reflexit.magiccards.ui.wizards.NewCardCollectionWizard"
           name="Card Collection">
     </wizard>
               <wizard
           category="com.reflexit.magiccards.ui"
           class="com.reflexit.magiccards.ui.wizards.NewCollectionContainerWizard"
           finalPerspective="com.reflexit.magiccards.ui.perspective.magic"
           icon="icons/obj16/folder-lib.png"
           id="com.reflexit.magiccards.ui.wizards.NewCollectionContainerWizard"
           name="Container">
     </wizard>
               <wizard
                     canFinishEarly="true"
                     category="com.reflexit.magiccards.ui"
                     class="com.reflexit.magiccards.ui.wizards.BoosterGeneratorWizard"
                     finalPerspective="com.reflexit.magiccards.ui.perspective.magic"
                     hasPages="true"
                     icon="icons/obj16/m16.png"
                     id="com.reflexit.magiccards.ui.wizards.BoosterGeneratorWizard"
                     name="Booster Pack from Set">
               </wizard>
               <wizard
                     canFinishEarly="true"
                     category="com.reflexit.magiccards.ui"
                     class="com.reflexit.magiccards.ui.wizards.BoosterGeneratorCollectionWizard"
                     finalPerspective="com.reflexit.magiccards.ui.perspective.magic"
                     hasPages="true"
                     icon="icons/obj16/m16.png"
                     id="com.reflexit.magiccards.ui.wizards.BoosterGeneratorCollectionWizard"
                     name="Booster Pack from Collection">
               </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.exportWizards">
     <wizard
           class="com.reflexit.magiccards.ui.exportWizards.DeckExportWizard"
           id="com.reflexit.magiccards.ui.exportWizards.DeckExportWizard"
           name="Export Collection">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <wizard
           class="com.reflexit.magiccards.ui.exportWizards.DeckImportWizard"
           icon="icons/lib32.png"
           id="com.reflexit.magiccards.ui.exportWizards.DeckImportWizard"
           name="Import Deck or Collection">
     </wizard>
     <wizard
           class="com.reflexit.magiccards.ui.exportWizards.SetImportWizard"
           icon="icons/m24.gif"
           id="com.reflexit.magiccards.ui.exportWizards.SetImportWizard"
           name="Import New Set (Extend Database)">
     </wizard>
  </extension>
  <extension
        point="com.reflexit.magiccards.ui.deckPage">
                             
          <page
                class="com.reflexit.magiccards.ui.views.analyzers.SuperDeckPage"
                id="com.reflexit.magiccards.ui.views.analyzers.SuperDeckPage"
                name="Cards">
          </page>  
            <!--      <page
           class="com.reflexit.magiccards.ui.views.analyzers.TreeDeckPage"
           id="com.reflexit.magiccards.ui.views.analyzers.TreeDeckPage"
           name="Cards">
     </page>   		
     <page
           class="com.reflexit.magiccards.ui.views.analyzers.TableDeckPage"
           id="com.reflexit.magiccards.ui.views.analyzers.TableDeckPage"
           name="List">
     </page>
          <page
           class="com.reflexit.magiccards.ui.views.analyzers.SplitTreeDeckPage"
           id="com.reflexit.magiccards.ui.views.analyzers.SplitTreeDeckPage"
           name="Groups">
     </page>
          <page
                class="com.reflexit.magiccards.ui.gallery.GalleryDeckPage"
                id="com.reflexit.magiccards.ui.gallery.page2"
                name="Gallery">
          </page>   		-->
        <page name="Info" id="info"
        class="com.reflexit.magiccards.ui.views.analyzers.InfoPage"
        />
        <page name="Draw" id="DrawPage" class="com.reflexit.magiccards.ui.views.analyzers.DrawPage"/>
        
        <page name="Mana" id="ManaCurvePage" class="com.reflexit.magiccards.ui.views.analyzers.ManaCurvePage"/>
		<page name="Types" id="TypePage" class="com.reflexit.magiccards.ui.views.analyzers.TypePage"/>
		<page name="Creatures" id="CreaturePage" class="com.reflexit.magiccards.ui.views.analyzers.CreaturePage"/>
		<page name="Colors" id="SpellColourPage" class="com.reflexit.magiccards.ui.views.analyzers.SpellColourPage"/>
		<page name="Abilities" id="AbilityPage" class="com.reflexit.magiccards.ui.views.analyzers.AbilityPage"/>

        <page name="Legality" id="com.reflexit.magiccards.ui.views.lib.DeckLegalityPage2"
        class="com.reflexit.magiccards.ui.views.analyzers.DeckLegalityPage2"
        />
        <page class="com.reflexit.magiccards.ui.views.analyzers.ExportDeckPage"
                      id="com.reflexit.magiccards.ui.views.analyzers.WizardsHtmlPage"
                      name="Export">
                </page>
 
  </extension>

<extension point="org.eclipse.ui.themes">
	<themeElementCategory
		id="com.reflexit.magiccards.ui.preferences.themeElementCategory" label="Magic Assistant">
		<description>
			Magic Assistant fonts and colors
		</description>
	</themeElementCategory>

	<colorDefinition
		categoryId="com.reflexit.magiccards.ui.preferences.themeElementCategory"
		id="com.reflexit.magiccards.ui.preferences.color" label="Cards List Text Color"
		value="COLOR_BLACK">
		<description>
			Color of text shown in Magic Assistant tables and trees
        </description>
	</colorDefinition>
	
	<colorDefinition
		categoryId="com.reflexit.magiccards.ui.preferences.themeElementCategory"
		id="com.reflexit.magiccards.ui.preferences.vcard.bgcolor" label="Virtual Card Background Color"
		value="COLOR_WIDGET_LIGHT_SHADOW">
		<description>
			Background color for rows of virtual cards in Magic Assistant tables and trees
        </description>
	</colorDefinition>
	
   <colorDefinition
		categoryId="com.reflexit.magiccards.ui.preferences.themeElementCategory"
		id="com.reflexit.magiccards.ui.preferences.ocard.bgcolor" label="Own Card Background Color"
		value="COLOR_LIST_BACKGROUND">
		<description>
			Background color for rows of own cards in Magic Assistant tables and trees
        </description>
	</colorDefinition>

	<fontDefinition
		categoryId="com.reflexit.magiccards.ui.preferences.themeElementCategory"
		id="com.reflexit.magiccards.ui.preferences.font" label="Cards List Font"
		value="Arial-12">
		<description>
			Font of text shown in Magic Assistant tables and trees
        </description>
	</fontDefinition>

</extension>


   
   <extension point="org.eclipse.ui.views">
<view
name="Progress View"
icon="icons/pview.png"
category="org.eclipse.ui"
class="org.eclipse.ui.ExtensionFactory:progressView"
id="org.eclipse.ui.views.ProgressView">
</view>
</extension>
  <extension point="org.eclipse.ui.activities">
      <activity
            id="com.reflexit.magiccards.activity.cardorganizer"
            name="Card Organizer">
      </activity>

      <activityPatternBinding
            activityId="com.reflexit.magiccards.activity.cardorganizer"
            pattern="com\.reflexit\.magiccards\..*/.*">
      </activityPatternBinding>

      <categoryActivityBinding
            activityId="com.reflexit.magiccards.activity.cardorganizer"
            categoryId="com.reflexit.magiccards.activity.category">
      </categoryActivityBinding>
      
      <defaultEnablement
            id="com.reflexit.magiccards.activity.cardorganizer">
      </defaultEnablement>
   </extension>
     <extension point="org.eclipse.ui.activities">
      <activity
            id="com.reflexit.magiccards.activity.dbextend"
            name="Extending Card Database">
      </activity>

      <activityPatternBinding
            activityId="com.reflexit.magiccards.activity.dbextend"
            pattern="com.reflexit.magiccards.ui/com.reflexit.magiccards.ui.exportWizards.SetImportWizard"
            isEqualityPattern="true"
            >
      </activityPatternBinding>

      <categoryActivityBinding
            activityId="com.reflexit.magiccards.activity.dbextend"
            categoryId="com.reflexit.magiccards.activity.category">
      </categoryActivityBinding>
      
      <activityRequirementBinding
 		 activityId="com.reflexit.magiccards.activity.dbextend"
 		 requiredActivityId="com.reflexit.magiccards.activity.cardorganizer">
	</activityRequirementBinding>
   </extension>
     <extension
           point="org.eclipse.core.runtime.adapters">
        <factory
              adaptableType="java.lang.Object"
              class="com.reflexit.magiccards.ui.utils.MagicAdapterFactory">
           <adapter
                 type="com.reflexit.magiccards.core.model.storage.ICardStore">
           </adapter>
        </factory>
     </extension>
     
     
      
   <extension
         point="org.eclipse.ui.preferencePages">
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.gallery.GalleryPreferencePage"
             id="com.reflexit.magiccards.ui.gallery.GalleryPreferencePage"
             name="View: Gallery">
       </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.gallery.GalleryView"
            icon="icons/gallery.png"
            id="com.reflexit.magiccards.ui.gallery.GalleryView"
            name="Gallery"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.gallery.GallerySelectionView"
            icon="icons/selection_view.png"
            id="com.reflexit.magiccards.ui.gallery.GallerySelectionView"
            name="Selection"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.reflexit.magiccards.ui.perspective.magic">
            <showInPart id="com.reflexit.magiccards.ui.gallery.GallerySelectionView"/>
            <showInPart id="com.reflexit.magiccards.ui.gallery.GalleryView"/>
            <view
                  id="com.reflexit.magiccards.ui.gallery.GalleryView"
                  minimized="false"
                  relationship="stack"
                  relative="com.reflexit.magiccards.ui.views.MagicDbView"
                  visible="true">
            </view>
            <viewShortcut
                  id="com.reflexit.magiccards.ui.gallery.GalleryView">
            </viewShortcut>
            <view
                  closeable="true"
                  id="com.reflexit.magiccards.ui.gallery.GallerySelectionView"
                  minimized="false"
                  moveable="true"
                  relationship="stack"
                  relative="com.reflexit.magiccards.ui.views.card.CardDescView"
                  visible="true">
            </view>
            <viewShortcut
                  id="com.reflexit.magiccards.ui.gallery.GallerySelectionView">
            </viewShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
