<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
            point="org.eclipse.ui.editors">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Magic Preferences"
            class="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
            id="com.reflexit.magiccards.ui.preferences.MagicPreferencePage">
      </page>
      	<page id="com.reflexit.magiccards.ui.preferences.MagicGathererPreferencePage"
  	      	name="Update Magic Database"
	      	class="com.reflexit.magiccards.ui.preferences.MagicGathererPreferencePage"
		category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage">
   	</page>
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.preferences.MagicDbViewPreferencePage"
             id="com.reflexit.magiccards.ui.preferences.MagicDbViewPreferencePage"
             name="Magic Database View">
       </page>
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.preferences.LibViewPreferencePage"
             id="com.reflexit.magiccards.ui.preferences.LibViewPreferencePage"
             name="Library View">
       </page>
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.preferences.DeckViewPreferencePage"
             id="com.reflexit.magiccards.ui.preferences.DeckViewPreferencePage"
             name="Deck View">
       </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.reflexit.magiccards.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Magic Assistant"
            id="com.reflexit.magiccards">
      </category>
      <view
            name="MTG Database"
            icon="icons/m.gif"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.MagicDbView"
            id="com.reflexit.magiccards.ui.views.MagicDbView">
      </view>
      <view
            allowMultiple="false"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.card.CardDescView"
            icon="icons/back_32.jpg"
            id="com.reflexit.magiccards.ui.views.card.CardDescView"
            name="Card Info">
      </view>
      <view
            allowMultiple="true"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.lib.MyCardsView"
            icon="icons/Folder-Library-32x32.png"
            id="com.reflexit.magiccards.ui.views.lib.LibView"
            name="My Cards"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.nav.CardsNavigatorView"
            icon="icons/sailing-ship-32x32.png"
            id="com.reflexit.magiccards.ui.views.nav.CardsNavigatorView"
            name="Card Navigator">
      </view>
      <view
            allowMultiple="true"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.lib.DeckView"
            icon="icons/Book-1-icon.gif"
            id="com.reflexit.magiccards.ui.views.lib.DeckView"
            name="Deck"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="com.reflexit.magiccards"
            class="com.reflexit.magiccards.ui.views.analyzers.HandView"
            icon="icons/Book-1-icon.gif"
            id="com.reflexit.magiccards.ui.views.analyzers.HandView"
            name="Draw"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.reflexit.magiccards.ui.PerspectiveFactoryMagic"
            fixed="false"
            icon="icons/m.gif"
            id="com.reflexit.magiccards.ui.perspective.magic"
            name="Magic Cards">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.reflexit.magiccards.ui.commands.AddToLibraryHandler"
            commandId="com.reflexit.magiccards.ui.commands.addToLib">
      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.AddToActiveDeckHandler"
            commandId="com.reflexit.magiccards.ui.commands.addToDeck">
      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.SendBugReportHandler"
            commandId="com.reflexit.magiccards.ui.commands.sendBug">

      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.UpdateDbHandler"
            commandId="com.reflexit.magiccards.ui.commands.updateMagicDb">
      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.RenameHandler"
            commandId="org.eclipse.ui.edit.rename">
      </handler>
      <handler
            class="com.reflexit.magiccards.ui.commands.UpdateDbDialogHandler"
            commandId="com.reflexit.magiccards.ui.commands.updateMagicDbDialog">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.reflexit.magiccards.ui.commands.addToLib"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="INSERT">
      </key>
      <key
            commandId="com.reflexit.magiccards.ui.commands.addToDeck"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="=">
      </key>
      <key
            commandId="com.reflexit.magiccards.ui.commands.addToDeck"
            contextId="com.reflexit.magiccards.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_ADD">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.reflexit.magiccards.ui.commands.category"
            name="Magic Assistant">
      </category>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.addToLib"
            name="Add to Default Collection">
      </command>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.addToDeck"
            name="Add to Active Deck">
      </command>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.sendBug"
            name="Send Bug">
      </command>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.updateMagicDb"
            name="Update Magic Cards Database to Standard">
      </command>
      <command
            categoryId="com.reflexit.magiccards.ui.commands.category"
            id="com.reflexit.magiccards.ui.commands.updateMagicDbDialog"
            name="Update Magic Cards Database...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.reflexit.magiccards.ui.context"
            name="Magic Assistant windows"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
  <extension
        point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?after=additions">
            <command
                  commandId="com.reflexit.magiccards.ui.commands.updateMagicDbDialog"
                  mnemonic="U"
                  id="com.reflexit.magiccards.ui.menus.updateMagicDbDialog">
            </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:help?after=additions">
            <command
                  commandId="com.reflexit.magiccards.ui.commands.sendBug"
                  mnemonic="S"
                  id="com.reflexit.magiccards.ui.menus.sendBug">
            </command>
      </menuContribution>

     <menuContribution
           locationURI="popup:com.reflexit.magiccards.ui.views.lib.LibView">
        <command
              commandId="org.eclipse.ui.edit.delete"
              mode="FORCE_TEXT"
              style="push">
        </command>
     </menuContribution>
     <menuContribution
           locationURI="menu:com.reflexit.magiccards.ui.views.lib.LibView">
        <command
              commandId="org.eclipse.ui.edit.findReplace"
              label="Find...">
        </command>
     </menuContribution>
     
     <menuContribution
           locationURI="popup:com.reflexit.magiccards.ui.views.lib.DeckView">
        <command
              commandId="org.eclipse.ui.edit.delete"
              mode="FORCE_TEXT"
              style="push">
        </command>
        <command
              commandId="com.reflexit.magiccards.ui.commands.addToDeck"
              label="Increase"
              >
        </command>
     </menuContribution>
     <menuContribution
           locationURI="menu:com.reflexit.magiccards.ui.views.lib.DeckView">
        <command
              commandId="org.eclipse.ui.edit.findReplace"
              label="Find...">
        </command>

     </menuContribution>
     <menuContribution
           locationURI="menu:com.reflexit.magiccards.ui.views.MagicDbView">
        <command
              commandId="org.eclipse.ui.edit.findReplace"
              label="Find...">
        </command>
     </menuContribution>
     
     <menuContribution
           locationURI="popup:com.reflexit.magiccards.ui.views.MagicDbView">
        <command
              commandId="com.reflexit.magiccards.ui.commands.addToLib"
              >
        </command>
        <command
              commandId="com.reflexit.magiccards.ui.commands.addToDeck"
              >
        </command>
     </menuContribution>
     
     <menuContribution
           locationURI="popup:com.reflexit.magiccards.ui.views.nav.CardsNavigatorView">
        <command
              commandId="org.eclipse.ui.edit.delete"
              mode="FORCE_TEXT"
              style="push">
        </command>
        <command
              commandId="org.eclipse.ui.edit.rename"
              mode="FORCE_TEXT"
              style="push">
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="com.reflexit.magiccards.ui"
           name="Magic">
     </category>
     <wizard
           category="com.reflexit.magiccards.ui"
           class="com.reflexit.magiccards.ui.wizards.NewDeckWizard"
           finalPerspective="com.reflexit.magiccards.ui.perspective.magic"
           hasPages="true"
           icon="icons/obj16/deck16.png"
           id="com.reflexit.magiccards.ui.wizards.NewDeckWizard"
           name="Deck">
     </wizard>
          <wizard
           category="com.reflexit.magiccards.ui"
           class="com.reflexit.magiccards.ui.wizards.NewCardCollectionWizard"
           finalPerspective="com.reflexit.magiccards.ui.perspective.magic"
           icon="icons/obj16/lib16.png"
           id="com.reflexit.magiccards.ui.wizards.NewCardCollectionWizard"
           name="Card Collection">
     </wizard>
               <wizard
           category="com.reflexit.magiccards.ui"
           class="com.reflexit.magiccards.ui.wizards.NewCollectionContainerWizard"
           finalPerspective="com.reflexit.magiccards.ui.perspective.magic"
           icon="icons/obj16/folder-lib.png"
           id="com.reflexit.magiccards.ui.wizards.NewCollectionContainerWizard"
           name="Container">
     </wizard>
               <wizard
                     canFinishEarly="true"
                     category="com.reflexit.magiccards.ui"
                     class="com.reflexit.magiccards.ui.wizards.BoosterGeneratorWizard"
                     finalPerspective="com.reflexit.magiccards.ui.perspective.magic"
                     hasPages="true"
                     icon="icons/obj16/lib16.png"
                     id="com.reflexit.magiccards.ui.wizards.BoosterGeneratorWizard"
                     name="Booster Pack">
               </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.exportWizards">
     <wizard
           class="com.reflexit.magiccards.ui.exportWizards.DeckExportWizard"
           id="com.reflexit.magiccards.ui.exportWizards.DeckExportWizard"
           name="Export Deck/Collection">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <wizard
           class="com.reflexit.magiccards.ui.exportWizards.DeckImportWizard"
           id="com.reflexit.magiccards.ui.exportWizards.DeckImportWizard"
           name="Import Deck/Collection">
     </wizard>
  </extension>
</plugin>
