<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Eclipse RCP Juno" sequenceNumber="16">
<locations>
<location path="C:\Develop\Eclipse\Eclipse4.2.1\eclipse" type="Profile"/>
<location path="C:\Develop\Eclipse\Eclipse4.2.1\eclipse/dropins/delta/eclipse" type="Directory"/>
</locations>

</target>
