<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- <extension
         point="com.reflexit.magiccards.ui.deckPage">
      <page
            class="com.reflexit.magiccards.ui.graphics.GraphicsDeckPage"
            id="com.reflexit.magiccards.ui.graphics.page1"
            name="Graphics">
      </page>
   </extension>
   -->
   
   <extension
         point="com.reflexit.magiccards.ui.deckPage">
      <page
            class="com.reflexit.magiccards.ui.gallery.GalleryDeckPage"
            id="com.reflexit.magiccards.ui.gallery.page2"
            name="Gallery">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
       <page
             category="com.reflexit.magiccards.ui.preferences.MagicPreferencePage"
             class="com.reflexit.magiccards.ui.gallery.GalleryPreferencePage"
             id="com.reflexit.magiccards.ui.gallery.GalleryPreferencePage"
             name="View: Deck/Gallery">
       </page>
   </extension>
</plugin>
