<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="deckFormat" name="Deck Format" schema="schema/deckFormat.exsd"/>
   <extension
         point="com.reflexit.magiccards.core.deckFormat">
      <deckFormat
            extension="xml"
            id="xml"
            importDelegate="com.reflexit.magiccards.core.exports.XmlImportDelegate"
            exportDelegate="com.reflexit.magiccards.core.exports.XmlExportDelegate"
            label="Magic Assistant XML"
            xmlFormat="true">
      </deckFormat>
      <deckFormat
            exportDelegate="com.reflexit.magiccards.core.exports.ClassicExportDelegate"
            extension="txt"
            id="classic"
            importDelegate="com.reflexit.magiccards.core.exports.ClassicImportDelegate"
            label="Deck Classic Text: 1 x Name">
      </deckFormat>
            <deckFormat
            exportDelegate="com.reflexit.magiccards.core.exports.ClassicNoXExportDelegate"
            extension="txt"
            id="classic2"
            importDelegate="com.reflexit.magiccards.core.exports.ClassicImportDelegate"
            label="Deck Classic Text: 2 Name">
      </deckFormat>
      <deckFormat
            exportDelegate="com.reflexit.magiccards.core.exports.CsvExportDelegate"
            extension="csv"
            id="csv"
            importDelegate="com.reflexit.magiccards.core.exports.CsvImportDelegate"
            label="Magic Assistant CSV">
      </deckFormat>
      <deckFormat
             exportDelegate="com.reflexit.magiccards.core.exports.ScsvExportDelegate"
             extension="csv"
             id="scsv"
             importDelegate="com.reflexit.magiccards.core.exports.ScsvImportDelegate"
             label="Magic Assistant CSV Semicolon">
       </deckFormat>
      <deckFormat
            exportDelegate="com.reflexit.magiccards.core.exports.TableExportDelegate"
            id="table"
            importDelegate="com.reflexit.magiccards.core.exports.TableImportDelegate"
            label="Magic Assistant Piped Table">
      </deckFormat>
      <deckFormat
            id="mtgo"
            importDelegate="com.reflexit.magiccards.core.exports.MtgoImportDelegate"
            label="Magic the Gathering Online CSV"
            xmlFormat="false">
      </deckFormat>
      <deckFormat
            extension="mwCsv"
            id="mwcsv"
            importDelegate="com.reflexit.magiccards.core.exports.MagicWorkstationCsvImportDelegate"
            label="Magic Workstation CSV"
            xmlFormat="false">
      </deckFormat>
      <deckFormat
            exportDelegate="com.reflexit.magiccards.core.exports.WagicExportDelegate"
            extension="wth"
            id="wth"
            label="Wagic: The Homebrew"
            xmlFormat="false">
      </deckFormat>
     
     <deckFormat
           exportDelegate="com.reflexit.magiccards.core.exports.HtmlTableExportDelegate"
           extension="html"
           id="htmlWithSymbols"
           importDelegate="com.reflexit.magiccards.core.exports.HtmlTableImportDelegate"
           label="Magic Assistant HTML Table "
           xmlFormat="true">
     </deckFormat>  
      <deckFormat
            extension="mwDeck"
            id="mwdeck"
            importDelegate="com.reflexit.magiccards.core.exports.MagicWorkstationDeckImportDelegate"
            label="Magic Workstation .mwDeck"
            xmlFormat="false">      
      </deckFormat>
      <deckFormat
            extension="dec"
            id="apprentice"
            importDelegate="com.reflexit.magiccards.core.exports.MagicWorkstationDeckImportDelegate"
            label="Apprentice .dec"
            xmlFormat="false">
      </deckFormat>
      <deckFormat
            extension="dck"
            id="sha"
            importDelegate="com.reflexit.magiccards.core.exports.ShandalarDeckDckImportDelegate"
            label="Shandalar .dck"
            xmlFormat="false">
      </deckFormat>
      <deckFormat
            extension="dck"
            id="manadeck"
            importDelegate="com.reflexit.magiccards.core.exports.ManaDeckDckImportDelegate"
            label="Mana Deck .dck"
            xmlFormat="false">
      </deckFormat>
       <deckFormat
            extension="csv"
            id="mtgstudiocsv"
            importDelegate="com.reflexit.magiccards.core.exports.MTGStudioCsvImportDelegate"
            label="MTG Studio CSV"
            xmlFormat="false">
      </deckFormat>
      <deckFormat
             exportDelegate="com.reflexit.magiccards.core.exports.PrintProxyHtmlExportDelegate"
             extension="html"
             id="htmlProxy"
             label="Print Proxies HTML"
             xmlFormat="true">
       </deckFormat>
       <deckFormat
             exportDelegate="com.reflexit.magiccards.core.exports.CompactHtmlExportDelegate"
             extension="html"
             id="htmlWizards"
             label="Compact HTML"
             xmlFormat="true">
       </deckFormat>
       <deckFormat
             exportDelegate="com.reflexit.magiccards.core.exports.CompactPlusHtmlExportDelegate"
             extension="html"
             id="htmlCompact2"
             label="Compact Plus HTML"
             xmlFormat="true">
       </deckFormat>
      <deckFormat
            exportDelegate="com.reflexit.magiccards.core.exports.DeckBoxExportDelegate"
            extension="csv"
            id="deckbox"
            importDelegate="com.reflexit.magiccards.core.exports.DeckBoxImportDelegate"
            label="DeckBox Inventory CSV"
            xmlFormat="false">
      </deckFormat>
      <deckFormat
            exportDelegate="com.reflexit.magiccards.core.exports.DeckBoxWishlistExportDelegate"
            extension="csv"
            id="deckboxW"
            importDelegate="com.reflexit.magiccards.core.exports.DeckBoxWishlistImportDelegate"
            label="DeckBox Wishlist CSV"
            xmlFormat="false">
      </deckFormat>
      <deckFormat
            extension="html"
            id="htmlTcgPlayer"
            importDelegate="com.reflexit.magiccards.core.exports.HtmlTableImportDelegate"
            label="TCGPlayer HTML Table "
            xmlFormat="true">
      </deckFormat>
      <deckFormat
            extension="html"
            id="htmlMagicCardInfoList"
            importDelegate="com.reflexit.magiccards.core.exports.MagicCardsInfoImportDelegate"
            label="http://magiccards.info"
            xmlFormat="true">
      </deckFormat>
      <deckFormat
            extension="scry"
            id="scryGlass"
            importDelegate="com.reflexit.magiccards.core.exports.ScryGlassImportDelegate"
            label="Scry Glass: 4 Name [Set]"
            xmlFormat="false">
      </deckFormat>
   </extension>
</plugin>
