<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="deckFormat" name="Deck Format" schema="schema/deckFormat.exsd"/>
   <extension
         point="com.reflexit.magiccards.core.deckFormat">
      <deckFormat
            extension="xml"
            id="xml"
            importDelegate="com.reflexit.magiccards.core.exports.XmlImportDelegate"
            label="xml"
            xmlFormat="true">
      </deckFormat>
      <deckFormat
            exportDelegate="com.reflexit.magiccards.core.exports.ClassicExportDelegate"
            extension="txt"
            id="classic"
            importDelegate="com.reflexit.magiccards.core.exports.ClassicImportDelegate"
            label="classic">
      </deckFormat>
      <deckFormat
            exportDelegate="com.reflexit.magiccards.core.exports.CsvExportDelegate"
            extension="csv"
            id="csv"
            importDelegate="com.reflexit.magiccards.core.exports.CsvImportDelegate"
            label="csv">
      </deckFormat>
      <deckFormat
            exportDelegate="com.reflexit.magiccards.core.exports.TableExportDelegate"
            id="table"
            importDelegate="com.reflexit.magiccards.core.exports.TableImportDelegate"
            label="table">
      </deckFormat>
      <deckFormat
            id="mtgo"
            importDelegate="com.reflexit.magiccards.core.exports.MtgoImportDelegate"
            label="Magic the Gathering Online CSV"
            xmlFormat="false">
      </deckFormat>
      <deckFormat
            extension="mwCsv"
            id="mwcsv"
            importDelegate="com.reflexit.magiccards.core.exports.MagicWorkstationImportDelegate"
            label="Magic Workstation CSV"
            xmlFormat="false">
      </deckFormat>
      <deckFormat
            exportDelegate="com.reflexit.magiccards.core.exports.WagicExportDelegate"
            extension="wth"
            id="wth"
            label="Wagic: The Homebrew"
            xmlFormat="false">
      </deckFormat>
     
     <deckFormat
           exportDelegate="com.reflexit.magiccards.core.exports.HtmlTableExportDelegate"
           extension="html"
           id="htmlWithSymbols"
           label="HTML Table "
           xmlFormat="false">
     </deckFormat>  
      <deckFormat
            extension="mwDeck"
            id="mwdeck"
            importDelegate="com.reflexit.magiccards.core.exports.MagicWorkstationDeckImportDelegate"
            label="Magic Workstation .mwDeck"
            xmlFormat="false">      
      </deckFormat>
      <deckFormat
            extension="dec"
            id="apprentice"
            importDelegate="com.reflexit.magiccards.core.exports.MagicWorkstationDeckImportDelegate"
            label="Apprentice .dec"
            xmlFormat="false">
      </deckFormat>
      <deckFormat
            extension="dck"
            id="sha"
            importDelegate="com.reflexit.magiccards.core.exports.ShandalarDeckDckImportDelegate"
            label="Shandalar .dck"
            xmlFormat="false">
      </deckFormat>
      <deckFormat
            extension="dck"
            id="manadeck"
            importDelegate="com.reflexit.magiccards.core.exports.ManaDeckDckImportDelegate"
            label="Mana Deck .dck"
            xmlFormat="false">
      </deckFormat>
   </extension>
</plugin>
